<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center mt-5">
        <!-- greet user -->
        <div class="row justify-content-center mb-4">
            <h1>Welcome {{ user.first_name }}!</h1>
        </div>
        <!-- this is just a picture of Tom Nook -->
        <img src="https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_2.625/c_scale,w_400/ncom/en_US/games/3ds/a/animal-crossing-new-leaf-welcome-amiibo-3ds/description-image" style="height: 250px;" alt="tom nok">
        <!-- logout  -->
        <div class="row justify-content-center mt-3">
            <a href="/logout" class="btn btn-secondary">Logout</a>
        </div>
    </div>
</body>
</html>