<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gues Info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="user-box">
        <div class="container">
            <div class="form-control">
                <h3>Submitted Info</h3>
                <div class="container">
                    <div class="row">
                        <div class="col">
                        Name:
                        </div>
                        <div class="col">
                        {{ session['name'] }}
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                        Location:
                        </div>
                        <div class="col">
                        {{ session['location'] }}
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                        Favorite Language:
                        </div>
                        <div class="col">
                        {{ session['language'] }}
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                        Operating System:
                        </div>
                        <div class="col">
                        {{ session['os'] }}
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                        Favorite Colors:
                        </div>
                        <div class="col">
                        {% for color in session['colors'] %}
                            <span class="color" style="background-color: {{ color }};"> </span>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                        Comments:
                        </div>
                        <div class="col">
                        {{ session['comment'] }}
                        </div>
                    </div>
                </div>
                <a class="btn btn-secondary mb-2" href="/" role="button">Back</a>
            </div>
        </div>
    </div>
</body>
</html>