<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <div class="board">
        {% for x in range(x) %}
            <div class="row">
                {% for y in range(y) %}
                    {% if (x + y) % 2 == 0 %}
                        <div class="box0" style="background-color: {{color1}}"></div>
                    {% else %}
                        <div class="box1" style="background-color: {{color2}}"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>