* {
    margin: 0;
    padding: 0;
}

.board {
    margin: auto;
}

.row {
    display: flex;
    justify-content: center;
}

.box1 {
    background-color: black;
    height: 50px;
    width: 50px;
}

.box0 {
    background-color: red;
    height: 50px;
    width: 50px;
}